@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-image: url("https://images.unsplash.com/photo-1604928844386-97d0ac6845fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDZ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

canvas {
  position: relative;
  border: 2px solid white;
  margin: 0px auto;
  width: 80%;
}

#gameOver {
  color: antiquewhite;
  font-size: 50px;
}

#game {
  margin: auto;
  width: 10%;
  padding: 100px 0;
  display: none;
}

.btn {
  padding: 6px;
  width: 50%;
  border-radius: 12px;
  border: none;
  background: orange;
  color: white;
  font-size: 22px;
}

#title {
  text-align: center;
  color: white;
  font-size: 30px;
}

button {
  margin: 10px 0;
  width: 50px;
  font-size: 16px;
}

.play-container {
  text-align: center;
  margin: 100px 0;
}

#details-box {
  margin: 0;
  display: none;
}

#score,
#container-life {
  color: white;
  font-size: 22px;
}

#description {
  color: white;
  max-width: 38em;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
}

#container {
  display: block;
}

#settings-container {
  display: none;
  background-color: #e2e2e1;
  padding: 10px;
  width: 50%;
  margin: 50px auto;
}

#settings {
  margin: auto;
  width: 40%;
}

.setting-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 15px auto;
  width: 40%;
}

#level {
  display: flex;
  flex-direction: row;
  margin: 10px;
  text-align: left;
}

.setting-row:nth-child(4) {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#back-container {
  width: 40%;
  margin: auto;
}

label {
  margin: 0 4px;
}

#new-game {
  margin: 30px auto;
  width: 30%;
}

#gameWin {
  padding: 10px;
  background: azure;
  width: 30%;
  margin: auto;
  height: 70px;
  position: absolute;
  left: 35%;
  top: 15em;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
}

@media only screen and (max-width: 900px) {
  .setting-row {
    width: 60%;
  }
}

@media only screen and (max-width: 680px) {

  #settings-container {
    width: 80%;
  }

  .setting-row {
    width: 100%;
    flex-direction: column;
  }

  #level {
    flex-direction: column;
  }
  
  .back-container {
    width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .btn {
    width: 100%;
  }
}
